.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav_link:hover {
    background-color: #0bb0b3;
    color: #ffffff;
}

.nav_link_active {
    color: #009578;
}

.nav_icon {
    font-size: 20px;
    padding-top: 10px;
}

.nav_icon:hover {
    font-size: 30px;
    transition: 0.3s;
}


@media (min-width: 992px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 30px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        background-color: #0bb0b3;
        display: flex;
        overflow-x: auto;
    }

    .nav_link {
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }

    .nav_link:hover {
        background-color: #0bb0b3;
        color: #ffffff;
        font-size: 20px;
        transition: 0.3s;
    }

    /* .nav_link_active {
      color: #009578;
  } */

    .nav_icon {
        font-size: 25px;
        display: none;
    }

    .nav_icon:hover {
        font-size: 30px;
        transition: 0.3s;
    }
}
