.navbar-collapse #cta a {
    background-color: #32A3B1;
}

.navbar-collapse #cta span {
    color: #fff;
    font-weight: bold;
}

.overlay {
    background: #32A3B1 !important;
}

.sectionsatu {
    position: absolute !important;
    /* margin-top: -100px !important; */
    top: 0;
    left: 0;
}

#h1 {
    font-size: 20px;
}

#bold1 {
    color: #32A3B1;
}

#p1 {
    color: #32a3b1;
    font-size: 13px;
    border-color: #32A3B1;
}

#p2 {
    font-size: 10px;
    font-weight: bold;
}

.blog-entry {
    width: 300px;
    height: 300px;
    justify-content: center;
}

#blog-20 {
    width: 50%;
    height: 50%;
}

#heading {
    font-size: 14px;
}

.card {
    position: relative;
    justify-content: center;
}

.box-card {
    width: 400px;
    height: 200px;
    background-color: grey;
    margin: 50px auto;

}

@media (min-width: 992px) {
    #h1 {
        font-size: 40px;
    }

    #p1 {
        color: #32a3b1;
        font-size: 18px;
        border-color: #32A3B1;
    }

    #p2 {
        font-size: 20px;
        font-weight: bold;
    }

    .blog-entry {
        width: 400px;
        height: 500px;
        margin: 0 10px;
    }

    #blog-20 {
        width: 100%;
    }

    #heading {
        font-size: 20px;
    }
}
